html, body {
	background-color: #2a2a2a;
	font-family: 'Inconsolata', monospace;

	}

.titulo  {
	font-size: 120px !important;
	}
.bajada  {
	font-size: 50px !important;
	}
	
	
#bloque-home {
	width:70%;
	padding:20px;
	background-color:#232323;
	color:#FFF;
	font-size: 60px;
	margin:10% auto 35px auto;
	text-align:center;
	}

.boton-home a {
	padding: 10px 15px 10px 15px;
	background-color:#FF0;
	color: #000;
	font-size:20px;
	text-decoration:none;
	transition: 0.5s;
	margin:auto
}

.boton-home a:hover {
	background-color:#FFF;
	color: #000;
}
#boton {
	width:70%;
	margin:auto;
	text-align: center;
	}
	
#header-cv {
	width:1200px;
	padding:20px;
	background-color: #0D0D0D;
	color:#FFF;
	font-size: 60px;
	margin:4% auto 0px auto;
	text-align:center;
	}
	
.bloque-info {
	width:1240px;
	background-color: #fff;
	margin: auto;
	font-size: 18px;
	}

.bloque-info strong {
	font-size: 20px;
	color: #82181A;
	}

.columna1-1 {
	width:31%;
	padding:0px 25px 0px 0px;
	color:#0D0D0D;
	font-size: 18px;
	text-align:left;
	float:left;
	}
.columna1-2 {
	width:31%;
	padding:0px 25px 0px 0px;
	color:#0D0D0D;
	font-size: 18px;
	text-align:left;
	float:left;
	}
.columna1-3 {
	width:31%;
	padding:0px;
	color:#0D0D0D;
	font-size: 18px;
	text-align:left;
	float:left;
	}
.foto {
	width:400px;
	height:auto;
	text-align:center;
	margin-top: 40px;
	}

@media only screen and (max-width: 600px) {
#bloque-home {
	margin:50% auto 25px auto;
	font-size: 22px;
	}
.titulo  {
	font-size: 35px !important;
	}
	
.bajada  {
	font-size: 20px !important;
	}
.foto {
	width:70%;
	text-align:center;
	height:auto;
	}
#header-cv {
	width:90%;
	}
.bloque-info {
	width:100%;
	}
.columna1-1 {
	width:100% !important;
	padding:10px !important;
	float:none !important;
	}
.columna1-2 {
	width:100% !important;
	padding:10px !important;
	float:none !important;
	}
.columna1-3 {
	width:100% !important;
	padding:10px !important;
	float:none !important;
	}
}